*{
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
  font-family: 'Playpen Sans', cursive;
}
.body {
      margin: 0;
      padding: 0;
      background-image: url('bg.jpg'); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh; 
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff; 
      
}
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('bannermem.jpg');
    background-position: center;
    background-size:cover;
    position:relative;  
    
  }
  .box {
    background-color: #9b9ba1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
   p {
    text-align: center;
  }
  h1,h2{
    color: black;
    text-align: center;
  }
  
  .subscriptionForm {
    display: flex;
    flex-direction: column;
 
  }
  
  .label {
    margin-bottom: 8px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  .buy-now-button {
    padding: 8px;
}
p{
  color: #111110;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
.row{
  margin-top:5% ;
  display: flex;
  justify-content: space-between;
}
.product-col{
  flex-basis: 31%;
  background: #e4dbdba0;
  border-radius:9px;
  margin-bottom: 5%;
  padding:20px 12px;
  box-sizing:border-box;
  transition: 0.5s;
}
.product-col:hover {
transform: scale(1.1);
color: #7e6f6f;
}
